@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to top,#DDBF54 ,#FAAF5C,  #AAAA58 );
    }

    section#login {
        width: 90vw;
        height: 340px;
    }

    section#login>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login>div#formulario {
        float: right;
        width: 65%;
    }

    section#login>div#formulario > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: linear-gradient(to top,#DDBF54 ,#FAAF5C , #AAAA58 );
    }
    section#login {
        width: 950px;
        height: 380px;
    }

    section#login>div#imagem {
        float: right;
        width: 45%;
        height: 100%;
    }

    section#login>div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p{
        font-size: 1.2em;
    }

    div#formulario > h1 {
        font-size: 2em;
    }
}