@charset "UTF-8";

/* 
 Paleta de cores
 amarelo: #DDBF54
 laranja: #FAAF5C
 verde: #AAAA58
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material-icons{
    color: #a3733b;
    width: 15px;
    margin-right: 7px;
    margin-top: 5px;
}

div#formulario > h1.girassol-regular {
    display: block;
    font-family: "Girassol", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

body, html {
    background-color: #c98d48;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    /* Overflow para tirar o excesso e deixar o background arredondado: */
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

    transition: width 0.3s, heith 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #D1DC54 url(../imagens/login.jpg);
    background-size: cover;
    height: 200px;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}


form > div.campo{
    background-color: #aaaa58b6;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#DDBF54;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #A48E3E;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #DDBF54;
    border-radius: 5px;
    text-decoration: none;
    color: #A48E3E;
}

form > a.botao:hover{
    background-color: #DDBF54;
    color: white;
}

form > a.botao > span{
    font-size: 0.8em;
}
